<footer>
    <div class="cols">
        <div class="footer-col col-1">
            <img src="assets/images/icons/logo.webp" alt="coursio-africa-logo" width="50" height="50">
            <h4 class="subtitle">COURSIO AFRICA</h4>
        </div>
        <div class="footer-col col-2">
          <h4 class="subtitle">Liens</h4>
          <ul>
            <li><a routerLink="/home">Accueil</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/partner">Partenariat</a></li>
            <li><a routerLink="/about">À Propos</a></li>
            <li><a routerLink="/login">Connexion</a></li>
          </ul>
        </div>
        <div class="footer-col col-2">
            <h4 class="subtitle">Aide</h4>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Options de Paiement </a></li>
            </ul>
        </div>
      <div class="footer-col col-2">
        <h4 class="subtitle">Réseaux sociaux</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">X | Twitter</a></li>
        </ul>
      </div>
    </div>
  <div class="copyright">
    <p>Copyright coursio-africa 2024-2025 © Tous les droits réservés</p>
  </div>
</footer>
