<app-navbar />
<div class="container">
    <h1 class="title">A Propos de COURSIO AFRICA</h1>
    <div class="dropdown-list">
        <div class="dropdown">
            <div class="header">
                <h3>Avant-propos</h3>
            </div>
            <div class="content">
                <p>
                    Le digital a profondément modifié nos genres et modes de vie tant professionnels que personnels.
                    Avec l’avènement du digital, le monde est devenu un véritable village planétaire,
                    les distances sont réduites, les frontières disparaissent,
                    l’information est devenue plus instantanée et voyage rapidement d’un coin du monde à un autre en quelques secondes,
                    la communication est plus facilitée, les tâches quotidiennes simplifiées et plus rapides,
                    l’efficacité, l’efficience, la réduction des coûts, la rentabilité sont améliorées, les prises de décision sont optimisées.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <div class="header">
                <h3>Plus</h3>
            </div>
            <div class="content">
                <p>
                    Le digital a totalement impacté notre environnement économique, social et culturel.
                    Aujourd’hui, avec des facteurs essentiels de développement et de croissance tels que la vitesse,
                    l’information et la productivité, le digital constitue l’infrastructure, l’outil,
                    le support indispensable de ce nouveau monde contemporain de développement et de croissance.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <div class="header">
                <h3>Coursio Africa</h3>
            </div>
            <div class="content">
                <p>
                    S’inscrit dans cet esprit de développement, de compétitivité, de productivité, et rentabilité.
                    Notre mission est de faciliter et accélérer l’accomplissement des démarches,
                    formalités et courses aux professionnels et particuliers dans l’espace de l’Afrique subsaharienne,
                    tant au niveau national que régional.Les objectifs poursuivis sont,
                    la rapidité, la réduction des déplacements, l’efficacité et l’efficience dans l’accomplissement des actions,
                    la productivité, la propension à travailler et être actif dans plusieurs villes et états en même temps.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer />