<div class="task-container">
    <h1>Formulaire de demande de service</h1>
    <form action="" class="task-form">
        <div class="task-box">
            <h3>Information sur le service</h3>
            <div class="boxes">
                <div class="input-box">
                    <label for="type">Type de service</label>
                    <select id="type">
                        <option>-- selection du service</option>
                        @for (t of typeSelection; track t.name) {
                            <option>{{ t.name }}</option>
                        }
                    </select>
                </div>
                <div class="input-box">
                    <label for="quality">Qualité du service</label>
                    <select id="quality">
                        <option>-- Qualité --</option>
                        @for (q of qualitiesSelection; track q.name) {
                            <option>{{ q.name }}</option>
                        }
                    </select>
                </div>
                <div class="input-box">
                    <label for="object">Objet du service</label>
                    <select id="object">
                        <option>-- Objet --</option>
                        @for (o of objectSelection; track o.name) {
                            <option>{{ o.name }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="task-box">
            <h3>Localisation</h3>
            <div class="boxes">
                <div class="input-box">
                    <label for="nature-jurid">Nature juridique de la structure à voir</label>
                    <input type="text" id="nature-jurid" placeholder="Administration publique, Ets public, Sté publique, Sté privée commerciale, Organisation civile, Association, Personne privée individuelle, Autre">
                </div>
                <div class="input-box">
                    <label for="office">Service à voir</label>
                    <input type="text" id="office" placeholder="nom de la structure, adresse, direction, service, porte, personne ou responsable à rencontrer, Téléphone">
                </div>
                <div class="input-box">
                    <label for="location">Localisation / adresse</label>
                    <input type="text" id="location" placeholder="région, département, ville, rue ou autre précision détaillée">
                </div>
            </div>
        </div>
        <div class="task-box">
            <h3>Détails du service</h3>
            <div class="details-box">
                <label for="description">Description</label>
                <textarea name="" id="description" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="buttons">
            <button routerLink="/home">Annuler</button>
            <button type="submit" class="save-btn">Continuer</button>
        </div>
    </form>
</div>
